@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

// .students {
//   position: relative;
// }

#first_half {
  margin-right: 2rem;
}

.test2 {
  display: flex;
  align-items: baseline;
}

// #second_half {
//   position: relative;
// }

.buttons {
  position: absolute;
  top: 60px;
  right: 20px;
}

.gradesList,
.tagsList {
  list-style-type: none;
}

.openButton,
.closeButton {
  border: none;
  background-color: white;
}

.closeButton img {
  width: 2.5rem;
}

.tagsDiv {
  display: flex;
  flex-direction: row;
}

.tag {
  margin-right: 4px;
  background: lightgray;
  border-radius: 4px;
  padding: 6px 10px;
}
