@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

// .students {
//   position: relative;
// }

#first_half {
  margin-right: 2rem;
}

.test2 {
  display: flex;
  align-items: baseline;
}

// #second_half {
//   position: relative;
// }

.buttons {
  position: absolute;
  top: 60px;
  right: 20px;
}
